.image-uploader {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f8f9fa;
  border: 1px dashed #c4c4c4;
  border-radius: 4px;
  box-sizing: border-box;
  color: #153c55;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.image-uploader input {
  display: none;
}
